.git
.github
.gitignore

__pycache__
*.pyc
*.pyo

.venv
venv
env

data/raw
data/processed

models/checkpoints
models/onnx
models/quantized

outputs/videos

*.pth
*.pt
*.ckpt
*.onnx
*.mp4
*.avi
*.mov

.ipynb_checkpoints
.vscode
.idea